
body{
    color: #898989;
}

#navigation {
    width: 200px;
}

#webgl_canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -10;
}

h1 { font-family: 'Dosis', sans-serif; font-weight: 400;line-height: 50%; }
h2 { font-family: 'Dosis', sans-serif; font-weight: 100;line-height: 0%; }