
body {
    color: #898989;
}

a:link {
    color: #DFCE3A;
}

/* visited link */
a:visited {
    color: #514F5A;
}

/* mouse over link */
a:hover {
    color: #514F5A;
}

/* selected link */
a:active {
    color: #514F5A;
}

#wrapper_base {
    margin: 0 auto;
    width: 1280px;

}

#contents {
    margin: 0 auto;

    margin-top: 10px;
}

#header {
    background-color: #ffffff;
    height: 100px;
    color: #252935;
}

.model_img {
    margin-top: -100px;
}

#webgl_canvas {
    position: absolute;
    top: 100px;
    left: 0px;
    z-index: -10;
}

#side_bar {
    position: absolute;
    top: 100px;

    z-index: 10;
}

#explain_jp, #explain_en {
    padding-top: 1em;
}

.header_text {
    padding-left: 10px;
    padding-bottom: 10px;
    line-height: 2.5em;
}

.timers {
    padding-left: 10px;
    padding-bottom: 10px;
    line-height: 1.5em;
}

.pure-u-2-5 {
    text-align: right;

}

.info {

    padding: 0 15px 0 0;

}

.login {
    padding: 0 15px 0 0;
    font-size: 10px;

}

#model_action {
    padding-top: 10px;
}

.pure-u-19-24 {
    padding: 50px 0 0 0;
    z-index: 0;
}

#make-list {
    font-size: 10px;
    padding: 20px 0 0 0;
}

#parent_model {
    font-size: 12px;
    padding: 20px 0 0 0;

}

#parent_model_info {
    font-size: 12px;
    padding: 0 0 30px 0;


}
#current_model_info {
    font-size: 12px;
    padding: 20px 0 0 0;
    font-weight: bold;
}
#current_model {
    font-size: 12px;
    padding: 0px 0 30px 0;

}


.model_info{
        margin-top: -150px;
}


#actions {
    font-size: 12px;
    padding: 20px 0 0 0px;
    font-weight: bold;
}

#sign-up{
    padding-top: 50px;
}

#how_to{
    padding-left: 50px;
}

#name_box{
    padding-top: 10px;

}

.webfont {
    font-size: 10px;

    font-weight: 100;
    line-height: 100%;
    padding-bottom: 10px;
    padding-top: 10px;

}

h1 {
    color: #DFCE3A;
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    line-height: 50%;
    padding: 10px 0px 0px 10px;
}

h2 {
    font-family: 'Dosis', sans-serif;
    font-weight: 200;
    line-height: 0%;
    padding: 0 0 5px 10px;
    color: #DFCE3A;
}

h3 {
    font-family: 'Dosis', sans-serif;
    font-weight: 100;
    line-height: 0%;
    color: #000000;
}

p {
    margin-bottom: 0px;
    margin-top: 5px;
    padding-bottom: 0px;
    line-height: 1.2em;
}

.extra_big_bold {
    font-size: 4em;
    font-family: 'Dosis', sans-serif;
    font-weight: 800;
    letter-spacing: -0.05em;
}

.button-default {
    width: 65px;
    font-size: 70%;
    background-color: #DDDDDD;
    line-height: 1.5em;
    border-radius: 4px;
    padding: 20px, 10px;
    border-style: none;
    margin-bottom: 3px;

}

.button-living {
    width: 65px;
    font-size: 70%;
    background-color: #FF4A36;
    line-height: 1.5em;
    border-radius: 4px;
    padding: 20px, 10px;
    border-style: none;
    margin-bottom: 3px;

}

.button-dining {
    width: 65px;
    font-size: 70%;
    background-color: #3FE845;
    line-height: 1.5em;
    border-radius: 4px;
    padding: 20px, 10px;
    border-style: none;
    margin-bottom: 3px;

}

.button-kitchen {
    width: 65px;
    font-size: 70%;
    color: #DDDDDD;
    background-color: #3C43E5;
    line-height: 1.5em;
    border-radius: 4px;
    padding: 20px, 10px;
    border-style: none;
    margin-bottom: 3px;

}

.button-bedroom {
    width: 65px;
    font-size: 70%;
    background-color: #DFCE3A;
    line-height: 1.5em;
    border-radius: 4px;
    padding: 20px, 10px;
    border-style: none;
    margin-bottom: 3px;

}

.button-wc {
    width: 65px;
    font-size: 70%;
    color: #DDDDDD;
    background-color: #7F2460;
    line-height: 1.5em;
    border-radius: 4px;
    padding: 20px, 10px;
    border-style: none;
    margin-bottom: 3px;

}

.button-staircase {
    width: 65px;
    font-size: 70%;
    background-color: #3FE5E5;
    line-height: 1.5em;
    border-radius: 4px;
    padding: 20px, 10px;
    border-style: none;
    margin-bottom: 3px;

}

.button-delete {
    width: 65px;
    font-size: 70%;
    background-color: #DDDDDD;
    line-height: 1.5em;
    border-radius: 4px;
    padding: 20px, 10px;
    border-style: none;
    margin-bottom: 3px;

}

#finalize {
    width: 65px;
    font-size: 70%;
    background-color: #DDDDDD;
    line-height: 1.5em;
    border-radius: 4px;
    padding: 20px, 10px;
    border-style: none;
    margin-bottom: 3px;

}

.button-large {
    font-size: 1.5em;
    background-color: #DFCE3A;
    line-height: 2.0em;
    border-radius: 4px;
    padding: 21px, 11px;
    border-style: none;
    margin-bottom: 3px;
}

.error {
    color: #FF4A36;
}

.input-default {
    font-size: 12px;
    line-height: 2em;
    border-radius: 4px;
    padding: 20px, 10px;
    margin-bottom: 3px;
}

#program_navigation, #level_navigation {
    margin-bottom: 20px;
}

.icon {
    font-size: 3em;
    color: #000000;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 40px;
}

#navigation {
    width: 30%;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}

.pure-table-horizontal-edit {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border-bottom: 1px solid #cbcbcb;
}

.pure-table2 {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border-bottom: 1px solid #cbcbcb
}

.pure-table2 caption {
    color: #000;
    font: italic 85%/1 arial, sans-serif;
    padding: 1em 0;
    text-align: center
}

.pure-table2 td, .pure-table2 th {
    border-left: 1px solid #cbcbcb;
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: 6px 6px
}

.pure-table2 td:first-child, .pure-table th:first-child {
    border-left-width: 0
}

.pure-table2 thead {
<!-- background : #e0e0e0;
--> color: #000;
    text-align: left;
    vertical-align: bottom
}

.pure-table2 td {
    background-color: transparent
}

.pure-table-odd td {
    background-color: #f2f2f2
}

.pure-table-striped tr:nth-child(2n-1) td {
    background-color: #f2f2f2
}

.pure-table-bordered td {
    border-bottom: 1px solid #cbcbcb
}

.pure-table-bordered tbody > tr:last-child td, .pure-table-horizontal tbody > tr:last-child td {
    border-bottom-width: 0
}

.pure-table-horizontal td, .pure-table-horizontal th {
    border-width: 0 0 1px;
    border-bottom: 1px solid #cbcbcb
}

.pure-table-horizontal tbody > tr:last-child td {
    border-bottom-width: 0
}

input#e-mail {

    width: 100px;
    height: 15px;
    font-size: 10px;
}

input#password {

    width: 70px;
    height: 15px;
    font-size: 10px;
}

input#name_input {

    width: 150px;
    height: 25px;
    font-size: 12px;
}

.button-xsmall {
    font-size: 70%;

}

.button-xsmall1 {
    font-size: 70%;
    width:74px;
}

.button-xsmall2 {
    font-size: 70%;
    width:74px;
    background-color: #DFCE3A;

}

.button-small {
    font-size: 85%;
}

.button-large {
    font-size: 110%;
}

.button-xlarge {
    font-size: 125%;
}



