
body{
    color: #333333;
}

#navigation {
    width: 200px;
}

#model_info, #model_action {
    color: #ffffff;
    width: 200px;
}

#webgl_canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -10;
}